body {
    background-color: #000000;
    margin: 0;
    padding: 0;
    overflow: hidden;
    z-index: -1;
    height: 100vh;
}

#mira {
    display: block;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    border-radius: 50%;
    transition: border 0.2s;
}

#mira.shoot {
    border: solid rgba(0, 255, 0, 0.9) 5px;
}

div.radar {
    display: block;
    width: 150px;
    height: 150px;
    position: absolute;
    border-radius: 50%;
    overflow: hidden;
    z-index: 25;
    right: 0.5em;
    top: 0.5em;
    background-color: transparent;
}

#barraVida {
    position: absolute;
    display: block;
    width: 300px;
    height: 50px;
    z-index: 30;
    bottom: 1em;
    left: 1em;
}

#shield {
    width: 100%;
    height: 100vh;
    display: none;
    z-index: 20;
    position: absolute;
    top: 0;
    right: 0;

}

#shieldBlock {
    width: 200px;
    display: block;
    z-index: 3;
    position: absolute;
    bottom: 0;
    right: 0;
}

#history {
    width: 100%;
    height: 100vh;
    display: block;
    z-index: 2;
    position: absolute;
    top: 10%;
    color: white;
    padding-top: 5%;
    font-family: 'Source Code Pro', monospace;
    text-align: center;
}


#shield.activated {
    display: block;
    background-color: rgba(88, 202, 255, 0.2);
    z-index: 20;
}

#shield img.waveShield {
    border-radius: 50%;
    display: block;
    width: 1px;
    height: 1px;
    position: absolute;
    z-index: 25;
    animation: waveEffect 0.7s 1;
    animation-fill-mode: forwards;
    transform: translate(-50%, -50%);
}

#shield.attak {
    display: block;
    background-image: radial-gradient(transparent 85%, #ff0000 100%);
    animation: attak 0.3s 1;
}

#shieldCharge {
    display: none;
    z-index: 30;
    position: absolute;
    top: 100px;
    left: 100px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

#shieldCharge.ready {
    display: block;
    animation: shieldCharged 0.5s infinite alternate;
}

#puntajeContador {
    color: white;
    display: block;
    z-index: 25;
    position: absolute;
    bottom: 0.5em;
    right: 1em;
    font-family: 'Source Code Pro', monospace;
    font-size: 40px;
}

#num_misiles {
    position: absolute;
    bottom: 15%;
    left: 0;
    z-index: 30;
    width: 20vh;
    height: 20vh;
}

#num_misiles img {
    margin-top: 20%;
    height: 11vh;
}

#num_misiles div {
    display: inline;
    color: white;
    margin: 10px 10px;
    font-family: 'Source Code Pro', monospace;
    font-size: 8vh;
    position: absolute;
    top: 4vh;
    left: 100%;
}

#modal {
    display: none;
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 40;
}

#modal div.content {
    display: block;
    width: 50%;
    height: 60%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    border-radius: 1em;
    background-color: rgba(110, 159, 189, 0.5);
}

#modal div.content h2 {
    text-shadow: 3px 3px 3px #a8ceb5,
    0 0 3px white;
    color: #060b4b;
    border: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    line-height: 3;
    margin: 1em;
}

#modal div.content button {
    text-shadow: 3px 3px 3px #a8ceb5,
    0 0 3px white;
    color: #060b4b;
    border: aliceblue;
    background-color: rgba(168,206,181,0.5);
    width: 25%;
    line-height: 2.5;
    border: none;
    text-align: center;
    font-size: 20px;
    border-radius: 0 1.5em;
    font-weight: bolder;

    -webkit-transition: width 0.4s ease-in-out, -webkit-box-shadow 0.4s ease-in-out;
    transition: width 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 60%;
}

#modal div.content button:first-of-type {
    left: 30%;
    transform: translateX(-50%);
}

#modal div.content button:last-of-type {
    right: 30%;
    transform: translateX(50%);
}

#modal div.content button:hover {
    cursor: pointer;
    -webkit-box-shadow: 5px 5px 2px rgba(168, 206, 181, 0.7);
    box-shadow: 5px 5px 2px rgba(168, 206, 181, 0.7);
    width: 35%;
}

#modal div.content button a {
    display: block;
    width: 100%;
    text-decoration: none;
    color: #060b4b;
}

#modal div.content div.n_resultado, #modal div.content div.b_resultado {
    font-family: 'Source Code Pro', monospace;
    font-size: 20px;
    color: white;
    font-weight: bold;
    text-align: center;
    margin: 1.5em auto;
    width: 100%;
}

#modal div.content div.n_resultado span, #modal div.content div.b_resultado span{
    font-family: Arial, Helvetica, sans-serif;
    color: #060b4b;
    font-weight: bolder;
}

button:focus {
    outline: none;
}

@keyframes shieldCharged {
    from {
        width: 100px;
        height: 100px;
        border: 30px solid rgba(88, 202, 255, 1);
    }
    to {
        border: 50px solid transparent;
        width: 110px;
        height: 110px;
    }
}

@keyframes attak {
    0% {
        width: 110%;
        height: 102%;
    }
    50% {
        width: 100%;
        height: 100%;
    }
    100% {
        width: 110%;
        height: 101%;
    }
}

@keyframes waveEffect {
    from {
        width: 0;
        height: 0;
        opacity: 1;
    }
    to {
        opacity: 0;
        width: 700px;
        height: 700px;
    }
}
