body {
    background-color: #000000;
    margin: 0;
    padding: 0;
    overflow: hidden;
    z-index: -1;
}

#mira {
    display: block;
    width: 50px;

    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;

    height: 50px;
    border-radius: 50%;
    transition: border 0.2s;
}

#mira.shoot {
    border: solid rgba(0,255,0,0.9) 5px;
}

div.radar {
    display: block;
    width: 150px;
    height: 150px;
    position: absolute;
    border-radius: 50%;
    overflow: hidden;
    z-index: 3;
    right: 0.5em;
    top: 0.5em;
    background-color: transparent;
}

#barraVida {
    position: absolute;
    display: block;
    width: 300px;
    height: 50px;
    z-index: 30;
    /*background-color: rgba(0,200,0,0.9);*/
    bottom: 1em;
    left: 1em;
    -webkit-transition: width 1s;
}
