body {
    background-color: #060b4b;
    margin: 0;
    padding: 0;
    overflow: hidden;
    z-index: -1;
}

img#mira {
    display: block;
    width: 50px;

    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}
