<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Game</title>

    <!--  Stylesheets  -->
    <link rel="stylesheet" href="../statics/css/game.css">
    <script src="../js/vendor/three.min.js"></script>
    <script src="../js/vendor/FlyControls.js"></script>
    <script src="../js/vendor/GLTFLoader.js"></script>
    <script src="../js/game.js"></script>
    <script src="../js/clases/Radar.js"></script>
    <script src="../js/clases/Jugador.js"></script>
    <script src="../js/clases/Bala.js"></script>
    <script src="../js/clases/Mira.js"></script>
    <script src="../js/clases/Nave.js"></script>
    <script src="../js/clases/Sound.js"></script>
    <script src="../js/clases/Escudo.js"></script>
    <script src="../js/clases/Juego.js"></script>
    <script src="../js/clases/Misil.js"></script>
</head>
<body>

<div id="game_output">
    <!--Aquí va la salida del juego-->
</div>

</body>
</html>
