<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Starglider</title>
    <link href="https://fonts.googleapis.com/css?family=Barlow|Heebo|Karla|Maven+Pro|Poppins|Raleway:400,600&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>


    <!--  Stylesheet  -->
</head>

<body>
<h1>Starglider</h 1>

<ul class="menu">
    <span class="menu-span"></span><li class="menu-item 1_"><span>Registrarse</span></li>
    <span class="menu-span"></span><li class="menu-item 2_"><span>Ingresar</span></li>
    <span class="menu-span"></span><li class="menu-item 3_"><span>Instrucciones</span></li>
    <span class="menu-span"></span><li class="menu-item 4_"><span>Resultados</span></li>
    <span class="menu-span"></span><li class="menu-item 5_"><span>Jugar</span></li>
</ul>
</body>
<script>

</script>
</html>
