<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Starglider</title>

    <!--  Stylesheet  -->
    <link rel="stylesheet" href="../statics/css/index.css">
</head>

<body>
<h1>Starglider</h1>
<ul class="menu">
    <li class="menu-item"><span>Registrarse</span></li>
    <li class="menu-item"><span>Ingresar</span></li>
    <li class="menu-item"><span>Instrucciones</span></li>
    <li class="menu-item"><span>Resultados</span></li>
    <li class="menu-item"><span>Jugar</span></li>
</ul>
</body>

</html>
