<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Inicio de Sesión</title>
    <link rel="stylesheet" href="../statics/css/form.css">
</head>

<body>
<a href="index.php">
    <div class="regresar">
        Regresar
    </div>
</a>
<h1>Inicio de Sesión</h1>
<ul class="form">
    <div class="status"></div>
    <li>
        <span>Usuario:</span>
        <input type="text" name="nick" maxlength="10" placeholder="Su nombre de usuario" class="user">
    </li>

    <li>
        <span>Contraseña:</span>
        <input type="password" name="psw" placeholder="Contraseña" required class="psw">
    </li>

    <li id="env">
        Ingresar
    </li>
</ul>
</body>

</html>
<script src="../js/vendor/jquery.min.js"></script>
<script src="../js/ingreso.js"></script>
