<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../statics/css/instrucciones.css">
    <title>Document</title>
</head>
<body>
<a href="index.php">
    <div class="regresar">
        Regresar
    </div>
</a>
<h1>Instrucciones</h1>

<ul class="menu">

    <li class="menu-item 1_"><span>Mover cámara  </span><span class="teclas">flechas</span></li>
    <li class="menu-item 2_"><span>Disparar  </span><span class="teclas">space</span></li>
    <li class="menu-item 3_"><span>Rotar  </span><span class="teclas">Q y E</span></li>
    <li class="menu-item 4_"><span>Mover nave  </span><span class="teclas">W, A, S, D</span></li>
    <li class="menu-item 5_"><span>Levantar escudos  </span><span class="teclas">P</span></li>
    <li class="menu-item 5_"><span>Subir y bajar nave  </span><span class="teclas">R y F</span></li>
    <li class="menu-item 1_"><span>Disparar Misiles  </span><span class="teclas">M</span></li>
    <li class="menu-item 1_"><span>Alentar giro  </span><span class="teclas">shift</span></li>

</ul>
</body>


</body>
</html>
